body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times;
    font-size: 12pt;
}

h1 {
    text-align: center;
}

h3 {
    font-size: 16pt;
}

nav{
    text-align: center;
}